#container{
    height:250px;
    display:flex;
    align-items: flex-end;
   /* column-gap: 2px; */
    /* margin-right: 100px; */
}
.big-box{
    border:2px solid black;
    padding: 80px;
    
}

body{
    display:flex;
    align-items:center;
    flex-direction: column;
}

.bar{
    width:10px;
    background-color: black;
    margin:2px;
}